* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100%;
}

.layout{
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.box{
  width: 100px;
  aspect-ratio: 1 / 1;
}