* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout{
  width: 90%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 2rem auto;
}
.box{
  width: 100px;
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  font-family: sans-serif;

}

button{
  height: 2.5rem;
  aspect-ratio: 16 / 6;
  border: none;
  background-color: rgb(0, 89, 255);
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}